html {
  background-image: radial-gradient(circle at center, purple, lightblue);
}

/* Navigation bar */

body {
  margin: auto;
}

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 10px 20px; /* Increased padding */
  border-radius: 3px 3px 0 0;
  height: 60px;
  font-size: 1.3rem; /* Increased height */
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 1.3rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
